/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */

.mockup-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.mockup {
	width: 300px;
	display: grid;
	grid-gap: 10px;
	font-size: 14px;
	text-align: center;
	padding: 15px 20px 15px 20px;
}

.top {
	height: 42px;
	color: #FFF;
	background-color: #424242;
	border-radius: 3px;
	padding: 12px;
}

.triangle:after {
	content: "";
	position: relative;
	border-top: 7px solid #424242;
	border-right: 5px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 5px solid transparent;
	left: 95px;
	bottom: -16px;
}

.bar {
	display: flex;
	flex-direction: row;
	border: 1px solid #D3D3D3;
	border-bottom-style: none;
	margin-bottom: -10px;
}

.leftbar {
	height: 10px;
	width: 75%;
	background-color: #EF5F3C;
}

.rightbar {
	height: 10px;
	width: 25%;
	background-color: #F5F5F5;
}

.middle {
	color: #777;
	border: 1px solid #D3D3D3;
	border-bottom-width: 2px;
	text-align: left;
	padding: 10px 15px 10px 15px;
}

.middle p {
	padding: 3px;
}

#blue {
	color: #20A1D4;
	font-style: italic;
	padding-left: 0px;
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 10px;
	margin-bottom: 5px;
}

input {
	width: 105px;
	height: 40px;
	font-size: 16px;
	font-weight: bold;
	border-style: solid;
	border-color: #eaeaea;
	border-radius: 3px;
}

button {
	width: 105px;
	height: 40px;
	color: #fff;
	font-size: 16px;
	background-color: #1CBC2C;
	border: none;
	border-radius: 3px;
	justify-self: end;
}

.bottom {
	display:grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}

.b1, .b2 {
	color: #777;
	font-weight: bold;
	background-color: #F5F5F5;
	border: 1px #D3D3D3 solid;
	border-bottom-width: 2px;
	border-radius: 3px;
	padding: 7px;
}
